#bolsa {
    width: 200px;
    height: 600px;
    background: url(img/bag.png) no-repeat center;
    margin: auto;
}

#vida {
    width: 200px;
    border: 2px solid black;
    margin: 0 auto;
}

#vida div {
    background-color: red;
    height: 20px;
}

#botones {
    width: 150px;
    margin: 15px auto;
}

#bolsa.bolsaRota {
    width: 200px;
    height: 600px;
    background: url(img/bag-burst.png) no-repeat center;
    margin: auto;
}